@import '@/styles/colors.scss';
@import '@/styles/sizes.scss';
@import '@/styles/mediaQuery.scss';

.card {
  background-color: var(--tertiary);
  border-radius: $small;
  padding: $large;
}

.gutter {
  margin-bottom: $large;
}

.tagContainer {
  display: flex;
  gap: $med;
  justify-content: flex-end;
  flex-wrap: wrap;

  @include for-phone-only {
    gap: $small;
    flex-direction: column;
    text-align: center;
  }
}

.tag {
  background-color: var(--accent);
  border-radius: $large;
  padding: $small $med;
}
